@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    clear: both;
}

.br-stormblue{
    --tw-bg-opacity: 1;
background-color: rgba(24, 47, 83, var(--tw-bg-opacity));
}
.br-alpacawool{
    --tw-bg-opacity: 1;
background-color: rgba(249, 238, 226, var(--tw-bg-opacity));
}
.br-coralrose{
    --tw-bg-opacity: 1;
background-color: rgba(245, 122, 77, var(--tw-bg-opacity));
}
.br-brownishred{
    --tw-bg-opacity: 1;
background-color: rgba(156, 55, 37, var(--tw-bg-opacity));
}

.montserrat-300{
    font-family: 'Montserrat';
    font-weight: 300;
}

.montserrat-500{
    font-family: 'Montserrat';
    font-weight: 500;
}

.montserrat-700{
    font-family: 'Montserrat';
    font-weight: 700;
}


